section
  h1 gio
  h2 @mokagio
  h1 ⚡️
  br
  h1.fragment

section
  div(style="text-align: right")
    h1(style="color: #F05138") Less Conventional Swift

section
  h1 Free Functions
  br
  br
  h3.fragment
    :markdown-it
      ```
      // File.swift

      func transform(input: A) -> B {
        // ...
      }
      ```

section
  h2 Higher Order Functions
  br
  br
  h2.fragment func as input
  h2.fragment func as output

section
  h1
    code enum

section
  img(src='./img/enum-value-not-unique.jpg')

section
  h2 enum for view state
  br
  h2
    :markdown-it
      ```swift
      enum ViewState<T> {
        case Empty
        case Loading
        case Loaded(T)
        case Errored(ErrorProtocol)
      }
      ```

section
  h1 Either
  br
  h2.fragment
    :markdown-it
      ```swift
      enum Either<A,B>{
        case Left(A)
        case Right(B)
      }
      ```

section
  div(style="overflow: auto; zoom: 1;")
    div(style="float: left; width: 70%; max-height: 90%")
      h4
        :markdown-it
          ```swift
          let data: [Either<Pizza, Ad>] = [
            // ...
          ]

          func tableView(
            _ tableView: UITableView,
            cellForRowAt indexPath: IndexPath
            ) -> UITableViewCell {
            let item = data[indexPath.row]

            let identifier = identifier(forItem: item)

            let cell = tableView.dequeueReusableCell(
              withIdentifier: identifier,
              for: indexPath
            )

            switch item {
            case .Left(let model): configure(cell, withModel: model)
            case .Right(let ad): configure(cell, withAd: ad)
            }

            return cell
          }
          ```
    div(style="float: right; width: 30%;")
      img(src="./img/pizza-and-ads.png" style="border: none; background: none;")

section
  h1 Result
  br
  h2.fragment
    :markdown-it
      ```swift
      enum Result<T> {
        case Success(T)
        case Failure(ErrorProtocol)
      }
      ```

section
  h3
    :markdown-it
      ```swift
      let task = session.dataTask(with: request) { (result: Result<(Data, URLResponse)>) in
        switch result {
        case .Success(let data, let response):
          // Do stuff with data and response
          break
        case .Failure(let error):
          // Do stuff with error
          break
        }
      }

      task.resume()
      ```

section
  h3
    a(src='https://github.com/antitypical/Result', target='_blank') https://github.com/antitypical/Result
  br
  br
  div.fragment
    :markdown-it
      ## `map`, `flatMap`
  div.fragment
    :markdown-it
      ## `mapError`, `flatMapError`

section
  h2 materialize
  div(style="font-size: 1.2em")
    :markdown-it
      ```swift
      do {
        let json = try JSONSerialization.jsonObject(with: data, options: [])
      } catch {
        print(error)
      }

      //
      // materialize!
      //

      let json = materialize {
        try JSONSerialization.jsonObject(with: data, options: [])
      }

      switch json {
      case .Success(let object):
        // Do stuff with actual value
        break
      case .Failure(let error):
        // Do stuff with error
        break
      }
      ```

section
  div
    :markdown-it
      ## `Optional<T>`
  div.fragment
    :markdown-it
      ## `Either<A,B>`
  div.fragment
    :markdown-it
      ## `Result<T>`

section
  h1 Generics
  div.fragment
    h2 &
    h1 Abstractions

section
  h2 GenericTableViewController
  br
  h3
    :markdown-it
      ```swift
      let vc: GenericTableViewController<String> =
        tableViewController(
          with: pizzaNames,
          cellClass: UITableViewCell.self,
          configurator: { value, cell in
            cell.textLabel?.text = value
          }
        )
      ```
  br
  br
  h4
    a(src='https://github.com/mokagio/GenericTableViewController', target='_blank') https://github.com/mokagio/GenericTableViewController

section
  h1
    code init?

section
  h1 Dependant Types
  br
  br
  h2.fragment
    code NotEmptyArray
  h2.fragment
    code PhoneNumber
  h2.fragment
    code BoundedInt

section
  img(src="img/logos.png")

section
  h2 Try less conventional code
  br
  br
  div.fragment
    div
      img(src="img/just-do-it.gif")
    br
    br
    h3 @mokagio
